*{
    font-family: "roboto"  sans-serif;
}
nav{
    height: 50px;
    width: 100%;
    background-color: #212121;
}

.menu{
    display: flex;
    justify-content: space-between;
    height: 50px;
    list-style-type: none;
} 
